<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ACBr.Net.Core" version="1.0.1.4-beta1" targetFramework="net40" />
  <package id="ACBr.Net.DFe.Core" version="1.0.1.6-beta3" targetFramework="net40" />
  <package id="NLog" version="4.3.11" targetFramework="net40" />
  <package id="NLog.Windows.Forms" version="4.2.3" targetFramework="net40" />
</packages>